---
const { link, title, more, img, tecnologias, estatus } = Astro.props;
---

<a
	href={link}
	target="_blank"
	class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:w-fit hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
	<img
		class="object-cover w-full rounded-t-lg h-80 md:h-full md:w-48 md:rounded-none md:rounded-s-lg"
		src={img}
		alt=""
	/>
	<div class="flex flex-col justify-between p-4 leading-normal">
		<div class="flex mb-3  gap-2 h-fit items-center">
			<h5
				class="text-2xl font-medium tracking-tight text-gray-900 dark:text-gray-100"
			>
				{title}
			</h5>

			{
				estatus == "Completado" ? (
					<span class="h-fit bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 dark:text-green-300">
						Completado
					</span>
				) : (
					<span class="h-fit bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">
						En Proceso
					</span>
				)
			}
		</div>
		<p class="font-normal text-gray-600 dark:text-gray-300">{more}</p>

		<p class="font-normal text-gray-700 dark:text-gray-400">
			Tecnologias: {
				tecnologias?.map((tec: String) => {
					return <span>{tec}. </span>;
				})
			}
		</p>
	</div>
</a>
