---
import Container from "./utils/Container.astro";
import LinkProyect from "./LinkProyect.astro";

const pros = [
{
    id:1,
    nombre: "Chatbot AI", 
    descripcion: "Un chatbot creado con la API de Gemini",
    imagen: "/proyectos/Chatbot.webp",
    status: "Completado",
	tecnologias: ["React","TailwindCSS"],
	githubURL: "https://github.com/Sulbav/chatbot-gemini"
},
{
    id:2,
    nombre: "Store Manager", 
    descripcion: "Sistema para administrar productos, ventas y la contabilidad de tu tienda. Basado en Electron",
    imagen: "/proyectos/Chatbot.webp",
    status: "En Desarrollo",
	tecnologias: ["React","tailwindCSS","SQLite"],
	githubURL: "https://github.com/Sulbav/chatbot-gemini"
}]
---

<Container id="proyectos" class="flex flex-col gap-8 items-center md:items-start justify-center">

	<h2 class="font-medium text-3xl">Proyectos</h2>
	<div class="flex flex-col gap-4 w-full">
		{
			pros.map((pt) => {
				return (
					<LinkProyect link={pt.githubURL} title={pt.nombre} more={pt.descripcion} img={pt.status !== "Completado"? "/wip.webp":pt.imagen} key={pt.id} tecnologias={pt.tecnologias} estatus={pt.status}/>
				);
			})
		}
		
	</div>

</Container>
